// Ultra Thin
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-UThin.otf);
    font-weight: 100;
}

// Thin
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-Thin.otf);
    font-weight: 200;
}

// Light
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-Light.otf);
    font-weight: 300;
}

// Regular
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-Reg.otf);
    font-weight: normal;
}

// Medium
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-Medium.otf);
    font-weight: 500;
}

// Bold
@font-face {
    font-family: SansPro;
    src:url(fonts/PFEncoreSansPro-Bold.otf);
    font-weight: 700;
}