doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="description", content="Качественный мониторинг хайпов от RadarGold - список проверенных инвестиционных проектов-долгожителей и новые хайпы 2017 года, которые платят без обмана.")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="icon", href="img/favicon.png" type="image/x-icon")

		link(rel="stylesheet", href="style.css")
		link(rel="stylesheet", href="animate.css")
		title Мониторинг хайп проектов 2017 года - обзор надежных инвестиционных площадок
	body
		include template/mixins
		include template/vars
		header.header
			.container
				a(href="https://www.radargold.com/").logo
				.header--nav
					span.header--text Мы предоставляем максимальный рефбек
					span.btn.btn-sm.btn-green.btn-low.btn-popup-promo Получить приглашение
		main
			section.page-overlay
				.gradient
				.container
					.page-overlay--inner
						.page-overlay--device.wow.fadeInLeft
						.page-overlay--verified
						.page-overlay--content.wow.fadeInLeft(data-wow-delay="0.2s")
							span.page-overlay--title Проверь своих партнеров
							span.page-overlay--subtitle Получи бесплатный мониторинг безопасности самых популярных интернет-проектов.
								span *
							.btn.btn-lg.btn-white.btn-high.btn-popup-subscribe Подписаться на мониторинг
						.invest-form.wow.fadeIn(data-wow-delay="0.7s")
							.invest-form--logo.mini-logo
							.invest-form--header
								p.invest-form--text-proofed.highlight Надежные проекты
								p.invest-form--text с регулярными выплатами, проверенные лично
							.invest-form--main
								.invest-form--visual
									.invest-form--outer-field
										.invest-form--field: span Radar Gold
									.invest-form--arrows
									.invest-form--outer-field
										.invest-form--field: span $ $ $ $ $
								.invest-form--stat.stat
									.stat
										.stat--title Сума общих инвестиций
										.stat--amount $ 302 150
									.stat--visual: span
									.stat
										.stat--title Получено 
										.stat--amount $ 394 070
							.invest-form--footer
								.btn.btn-sm.btn-low.btn-green.btn-popup.btn-popup-subscribe Подпишись
				.logo-bg.wow.rotateIn
						
			
			// About Us
			section.about-us
				.container
					.about-us--inner.wow.fadeInLeft
						h2.about-us--title Независимый рейтинг инвестиционных платформ
						p.about-us--text Рейтинг доверия инвестиций формируется на базе 75 показателей и личном опыте вложений в проект. Подписчикам Radargold рейтинг предоставляется бесплатно.
						ul.advantages
							+adv1('advantage-1.png', 'Постояннное обновление базы')
							+adv2('advantage-2.png', 'Проверяем площадки на своих деньгах')
							+adv3('advantage-3.png', 'Предоставляем рейтинг бесплатно')
						//- 
							.btn-row
								.btn.btn-sm.btn-green.btn-high.btn-popup-subscribe Детальный анализ
								.simple-btn.btn-popup-promo интересно?
						p.about-us--text.wow.fadeIn(data-wow-delay="0.5s") Хочешь быть в курсе последних изменений на рынке хайпов? Подпишись сейчас!
						.btn.btn-sm.btn-green.btn-high.btn-popup-subscribe.wow.fadeIn(data-wow-delay="0.5s") Узнать подробнее

					.about-us--device.about-us--device-1.wow.fadeInDown
						//img(src="img/devices-tv.png", alt="")
					.about-us--device.about-us--device-2.wow.fadeIn
						//img(src="img/devices-phone.png", alt="")
				.logo-bg.wow.rotateIn
			
			section.rating
				.container
					.rating--heading
							h2.rating--title.wow.fadeIn Топ площадки месяца
							p.block--text.wow.fadeIn(data-wow-delay="0.2s") Безопасные проекты с высокой доходностью и безопасным выводом средств.
				.platform-row.hoverscroll
					//.swiper-container
					//.swiper-wrapper
					.platform-container
						each item in top_platforms
							+platform(item)

					//- 
						platform('logo-amaya-finance.png')
						platform('logo-robinhood-global.png')
						platform('logo-amaya-finance.png')
						platform('logo-dron-logistics.png')
				.logo-bg.wow.rotateIn

				.container
					.block.block-lg.block-center
						a(target="_blank", href="https://www.radargold.com/catalog").btn.btn-green.btn-lg.btn-high.wow.fadeIn Показать все
						p.block--text.wow.fadeIn Более 2000 частных инвесторов подписаны на реуглярный мониторинг Radargold
			
			section.cta
				.gradient
				.container
					.block-center.cta--block
						p.cta--title.wow.fadeIn Хочешь быть уверенным в своих инвестиционных партнёрах?
						.cta--inner
							p.block--text.wow.fadeIn Получи бесплатную консультацию эксперта по безопасности интернет-проектов.
							form.cta-form(action="send.php", method="POST")
								.input-field.wow.fadeIn
									input(name="name", type="text", placeholder="Введи свое имя")
									span.input-field--check.input-field--check-ok
								.input-field.input-field-validation.wow.fadeIn
									input(name="email", type="email", placeholder="Введи свой e-mail адрес")
									span.input-field--check.input-field--check-error
										//
											include img/check-error.svg
								p.form-text.wow.fadeIn Мы принципиально не сотрудничаем с третьим сторонами и не передаем личные данные клиентов.
								input(type="submit", value="Получить консультацию").btn.btn-submit.btn-green.btn-lg.btn-high.wow.fadeIn(data-wow-offset="100")
			.pop-up-overlay
				.pop-up--close
			//- include template/pop-up-sample
			include template/pop-up-subscribe
			include template/pop-up-promo
			.scroll-top
				.scroll-top--btn
					//- 
						include img/scroll-top.svg


		footer.footer
			span.foo.foo-left © Мониторинг хайпов - узнай про самые качественные проекты!
			span.foo.foo-right Created by Radargold
		script(type="text/javascript", src="js/jquery.min.js")
		//
			script(type="text/javascript", src="js/jquery.hoverscroll.js")
		
		//- Maybe Disable Swiper
		script(type="text/javascript", src="js/swiper.jquery.min.js")
		script(type="text/javascript", src="js/jquery.validate.min.js")
		script(type="text/javascript", src="js/main.js")
		script(type="text/javascript", src="js/wow.min.js")
		include google-analytics.js
		include yandex-metrika.js






